
{% extends 'panel.html' %}
{% block title %}O | Gallery{% endblock %}
{% block content %}
{% load static %}
<div class='row mt-4 mb-4'>
	<div class='col-12 h-100'>
		<div class='section-small'>
			<h1 class='h1-1'>
				Manage Site Gallery
			</h1>
			<hr>
			<div class='row'>
				<div class='col'>
					<a href="{% url 'image-details' %}">				
						<div class='section-pad addLoader text-center'>
							<i class="fa-regular fa-image fa-2xl"></i>
							<p class='mt-2'>All Images</p>
						</div>
					</a>
				</div>

				<div class='col'>
					<a href="{% url 'change-gal' '1'  '1' %}">
						<div class='section-pad addLoader text-center'>
							<i class="fa-regular fa-image fa-2xl"></i>
							<p class='mt-2'>Home Page</p>
						</div>
					</a>
				</div>

				
				<div class='col'>
					<a href="{% url 'change-gal' '3'  '4' %}">
						<div class='section-pad addLoader text-center'>
							<i class="fa-regular fa-image fa-2xl"></i>
							<p class='mt-2'>Model Gallery</p>
						</div>
					</a>
				</div>

				<div class='col'>
					<a href="{% url 'change-gal' '5'  '6' %}">				
						<div class='section-pad text-center' onclick="window.location.href='#'">
							<i class="fa-regular fa-image fa-2xl"></i>
							<p class='mt-2'>Wedding Gallery</p>
						</div>
					</a>
				</div>

				<div class='col'>
					<a href="{% url 'change-gal' '7'  '8' %}">
						<div class='section-pad text-center' onclick="window.location.href='#'">
							<i class="fa-regular fa-image fa-2xl"></i>
							<p class='mt-2'>Family and Pets Gallery</p>
						</div>
					</a>
				</div>
				<div class='col'>
					<a href="{% url 'change-gal' '2'  '2'%}">
						<div class='section-pad text-center' onclick="window.location.href='#'">
							<i class="fa-regular fa-image fa-2xl"></i>
							<p class='mt-2'>IOFM</p>
						</div>
					</a>
				</div>
				
			</div>
		</div>
	</div>
</div>

<div class='row mt-4 mb-4'>
</div>


<script src={% static 'js/graphs.js' %}></script>

{% endblock %}