
{% extends 'panel.html' %}
{% block title %}O | {{ gal }} Gallery{% endblock %}
{% block content %}
{% load static %}

<div class='row mt-4 mb-4'>
	<div class='col-12'>
		<div class='section-small'>
			<input id='subgal' value="{{ subgal}}" disabled hidden>
			<input id='lastPage' value="{{ last_page }}" disabled hidden>
			<h1 class='h1-1 text-center'>{{ gal_name.name| title}}Gallery</h1>
			
			{% for image in current_list %}
			
			<div class="mini-Slides text-center">
				<p class="p-p">Image Gallery #{{ forloop.counter }}</p>
				<img class='image-frame' src="{{ image.image_link }}">
				<div class="row">
					
					<form method=POST action="{% url 'change-gal' gal subgal %}" >
						{% csrf_token %}
						<input value='{{ image.id }}' namd='{{ image.id }}' id='header_id' hidden>
						<button class="btn-cust" name='header' value='{{ image.id }}'>Make Header</button>
					</form>
				

				</div>
			</div>
	
		
		
			{% endfor %}
			<div class='section-min text-center'>
				<button class="btn-icon" onclick="plusSlides(-1)">
					<i class="fa-solid fa-circle-arrow-left fa-2xl"></i>
				</button>
				<button class="btn-icon" onclick="plusSlides(1)">
					<i class="fa-solid fa-circle-arrow-right fa-2xl"></i>
				</button>
			</div>
			<div class='overflow-auto text-center max-scroll'>
				<div 'img-box-gall-sm'>
					<div class="row">
						{% for image in current_list %}
						<div class="col">
							
							<img load='lazy'
							class="demo mt-4 mb-4 cursor-mini {% if image.display == gal %} helight-shadow {% endif %}" 
							src="{{ image.image_link }}" 
							style="height:10vh" 
							onclick="currentSlide({{ forloop.counter }})" 
							alt="Image ID: {{image.id}}"
							>
						</div>
						{% endfor %}
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
	<hr>
	<div class='col-12 mt-4 mb-4'>
		<div class='section-med'>
			<h1 class='h1-1 mb-2'>Image Search and Filter</h1>
			<form method="GET" action="." class='form-group'>
				<div class='row'>
					<div class='col-12 mb-2'>
						<input class="form-control" list="project-list" type="search" name="project" placeholder="Project">
						<datalist id="project-list">
						{% for project in project_list %}
							<option value="{{ project.name }}"></option>
						{% endfor %}
						</datalist>
					</div>
					<div class='col-12 mb-2'>
						<input class="form-control" 
						list="client-list" 
						type="search" 
						name="client" 
						placeholder="Client"
						>
						<datalist id="client-list">
						{% for client in client_info %}
							<option value="{{ client.client_details.client }}"></option>
						{% endfor %}
						</datalist>
					</div>
				</div>
				<div class='row'>
					<div class="col-6 col-md-2 mt-4">
						<select class="form-select" type="select" name="order">
							<option value="Newest">Newest</option>
							<option value="Oldest">Oldest</option>
						</select>
					</div>                
					<div class="col-6">
						<button type="submit" class="btn-cust btn-cust-color mt-4">Search</button>
					</div>
				</div>
			</form>


			<form method=POST action="{% url 'change-gal' gal subgal %}" class='mt-4 section-med form-group'>
				{% csrf_token %}
				<div class="row" >
					<div class='col-12'>
						<h1 class='h1-1'>
							Images 
						</h1>
						<hr>
						<p class='p-p'>
							Select and deselect images to add and remove them. 
						</p>


					</div>
				</div>


				<div class="row">
					<div class='col-12 mb-4'>
						<button class='btn-cust' name="keyler" value="update">
							Update
						</button>
					</div>
					<div class='col-12 col-md-3'>
						<p class="p-p">
							Select All
							<input class="form-check-input text-center" onclick='toggle(this)' type="checkbox" value="" id="selectAll">
						</p>
	
					</div>
					<div class='col-12 col-md-1'>
						<p class="p-p">
							Image ID: 
						</p>
					</div>
					<div class='col-12 col-md-4'>
						<p class="p-p">
							Projet Name: 
						</p>
					</div>
					<div class='col-12 col-md-4'>
						<p class="p-p">
							Image Title: 
						</p>
					</div>


				</div>
				<hr>

					
				<div class="row" id='imageRow'>
					{%for image in image_sets %}
					<div class="col-12 mb-4">
						<div class="row">
							{% if image in current_list %}
							<div class='col-6 col-md-3'>
								<p class='p-p'>
									Include<br>
									<input class="form-check-input text-center" checked type="checkbox" name='checkbox{{image.id}}' value="{{image.id}}" id="id_check">
								</p>
							</div>
							{% else %}
							<div class='col-6 col-md-3'>
								<p class='p-p'>
									Include <br>
									<input class="form-check-input text-center" type="checkbox" name='checkbox{{image.id}}' value="{{image.id}}" id="id_check">
								</p>
							</div>
							{% endif %}

							<div class='col-12 col-md-1'>
								<p class='p-p'>
									#{{ image.id }}
								</p>
							</div>
							<div class='col-12 col-md-4'>
								<p class='p-p'>
									{{ image.project_id|title}}
								</p>
							</div>

							<div class='col-12 col-md-4'>
								<p class='p-p'>
									{{ image.title|title }} 
								</p>
							</div>
							<div class='col-12 text-center col-md-12'>
								<img class='image-list' load='lazy' 
								src="{{ image.image_link }}" 
								
								>
							</div>
						</div>
						<hr>
					</div>

					{% endfor %}

				</div>
				<div class='row scroll-row'>

					<div class="col-12 text-center mb-4">
						<button class='btn-cust' 
							value="{% url 'change-gal' gal subgal %}" 
							type='button' 
							name='loadMore' 
							id='loadMore'
							style='display:inline-block'
							>
							Load More
						</button>
						
						<section class="dots-container" id='dotsLoader'>
							<div class="dot"></div>
							<div class="dot"></div>
							<div class="dot"></div>
							<div class="dot"></div>
							<div class="dot"></div>
						</section>
						<hr>
					</div>
				</div>

			</form>
			
		</div>
		
	</div>


</div>


<script src={% static 'js/loadMore.js' %}></script>

<script src={% static 'js/mini_gallery.js' %}></script>
<script src={% static 'js/select_all.js' %}></script>

{% endblock %}

