{% extends 'scheme.html' %}
{% load static %}
{% block content %}
<div class="body-about scroll-up">
  <div class="row">
    <div class="col-md-6 about-box-2">
      <div class="text-center">
        <br/>
        <br/>
        <h1 class="h1-1">Hi there! I'm Carly</h1>
        <p class="p-p">I'd be honored to capture your memories and bring your vision to life.</p>
        <a href="/book.html">
        <button class="btn-cust btn-cust-color p-2">Book</button></a>
      </div>
    </div>
    <div class='col-md-6 about-box'>
      <img class="img-fluid" src='https://imagedelivery.net/4_y5kVkw2ENjgzV454LjcQ/6ebb9247-da59-4b0e-eab2-92e7b604fd00/heroObjectLeft'>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 order-md-2 about-box-2">
      <h1 class="h1-1">About me</h1>
      <p class="p-p">Hi there! I'm Carly, a photographer based in the beautiful Pacific Northwest. 
      Growing up in eastern Washington sparked my love for visual arts and eventually led me to pursue a 
      career in film production. Videography is a passion of mine that I hold near and dear, but after graduating, 
      I fell in love with capturing the stillness through the lens of a camera. I've been drawn to photography for 
      the past six years, and I especially love film photography for its ability to add a unique texture 
      and depth to each image.

      <br><br>

      My goal is to create bold, dramatic scenes filled with vibrant colors that transport you to another time and 
      place. I'm a dreamer at heart and love to explore new concepts and ideas. I'm open to all types of projects, 
      from branding to portraits, couples to concerts, and special events. I'd be honored to capture your memories and 
      bring your vision to life. Let's create something beautiful together!</p>
    </div>
    <div class="col-md-6 order-md-1 about-box">
      <img class="img-fluid" src="https://imagedelivery.net/4_y5kVkw2ENjgzV454LjcQ/5e4031fb-98ff-4279-a120-3c0e66779e00/public" style="max-height: 50vh;">
    </div>
  </div>
</div>
<script src="{% static '/js/float_in.js' %}"></script>
<script src="{% static '/js/scroll_effects.js' %}"></script>

{% endblock %}