    <div class='section-inner'>
        <hr class='hr-hr'>
        <h2 class='h2-2 text-center'>
            Galleries
        </h2>
    <hr class='hr-hr'>
    </div>

    <div class='section-height' id='Gallery'>
        <div class='row'>
            <div class='col-12 mb-4 col-md-4 slide-up' id='slide-in'>
                <div class='card-header'>

                </div>
                <button class='card h-100 card-attrs'>
                    <div class="card-body">
                        <h2 class='h2-2'>
                            Capture the Moment
                        </h2>
                        <p class='p-p'>
                            Model Gallery
                        </p>
                        <div class='card-shot'>
                            <img class='img-fluid' src="{{ image1.image_link }}" onclick="window.location.href='{% url 'site-gall' 3 4 %}'">
                        </div>

                    </div>
                </button>
            </div>
            <div class='col-12 col-md-4 mb-4 slide-up' id='slide-in'>
                <div class='card-header'>

                </div>
                <button class='card h-100 card-attrs'>
                    <div class="card-body">
                        <h2 class='h2-2'>
                            Make it a Memory
                        </h2>
                        <p class='p-p'>
                            Wedding Gallery
                        </p>
                        <div class='card-shot'>
                            <img class='img-fluid' src="{{ image2.image_link }}" onclick="window.location.href='{% url 'site-gall' 5 6 %}'">
                        </div>

                    </div>
                </button>
            </div>
            <div class='col-12 col-md-4 mb-4 slide-up' id='slide-in'>
                <div class='card-header'>

                </div>
                <button class='card h-100 card-attrs'>
                    <div class="card-body">
                        <h2 class='h2-2'>
                            Cherish the Magic
                        </h2>
                        <p class='p-p'>
                            Fameliy & Pets Gallery
                        </p>
                        <div class='card-shot'>
                            <img class='img-fluid' src="{{ image3.image_link }}" onclick="window.location.href='{% url 'site-gall' 7 8 %}'">
                        </div>   

                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class='section-inner-2 mt-4 mb-4'>
        <hr class='hr-hr'>
        <h2 class='h2-2 text-center' id='how'>
            How the process works
        </h2>
    <hr class='hr-hr'>
    </div>

    <div class='section-height'>

        <div class="row">
            <div class='timeline col-12 col-md-2 slide-left' id='slide-in'>
                <div class='time-box time-box-top slide-left' id='slide-in'>
                    <div class='time-text fade-in'>
                        <h2 class='h2-2'>Connect</h2>
                        <p class='p-p'>Book a session and spark the dance of notification joy. Our creative journey commences here.</p>
                    </div>
                    <i class="fa-solid fa-bell fa-2xl icons-gal icon-color"></i>
                </div>
            </div>

            <div class='timeline col-12 col-md-2 slide-left' id='slide-in'>
                <div class='time-box time-box-bottum slide-left' id='slide-in'>
                    <i class="fa-solid fa-mobile-screen-button fa-2xl icons-gal icon-color"></i>
                    <div class='time-text fade-in'>
                        <h2 class='h2-2'>Collaborate</h2>
                        <p class='p-p'>Chat, call, or Skype; we're artisans crafting art. Scope, budget, vision, we're in sync.</p>
                    </div>
                </div>
                
            </div>
 
            <div class='timeline col-12 col-md-2 slide-left' id='slide-in'>
                <div class='time-box time-box-top slide-left' id='slide-in'>
                    <div class='time-text fade-in'>
                        <h2 class='h2-2'>Capture Magic</h2>
                        <p class='p-p'>Meet at a scenic spot, you, me, lights, camera. Moments etched into memories.</p>
                    </div>
                    <i class="fa-solid fa-wand-magic-sparkles fa-2xl icons-gal icon-color"></i>
                </div>
            </div>

            <div class='timeline col-12 col-md-2 slide-left' id='slide-in'>
                <div class='time-box time-box-bottum slide-left' id='slide-in'>
                    <div class='time-text fade-in'>
                        <h2 class='h2-2'>Sneak Peek</h2>
                        <p class='p-p'>Exclusive code unlocks your project preview gallery. Witness magic before the world.</p>
                    </div>
                    <i class="fa-solid fa-eye-low-vision fa-2xl icons-gal icon-color"></i>
                </div>
            </div>
            <div class='timeline col-12 col-md-2 slide-left' id='slide-in'>
                <div class='time-box time-box-top slide-left' id='slide-in'>
                    <div class='time-text fade-in'>
                        <h2 class='h2-2'>Unveil Splendor</h2>
                        <p class='p-p'>Curated images emerge, feedback refines. We co-create your unique story.</p>
                    </div>
                    <i class="fa-solid fa-photo-film fa-2xl icons-gal icon-color"></i>
                </div>
            </div>
            <div class='timeline col-12 col-md-2 slide-left' id='slide-in'>
                <div class='time-box time-box-bottum slide-left' id='slide-in'>
                    <div class='time-text fade-in'>
                        <h2 class='h2-2'>Embrace Memories</h2>
                        <p class='p-p'>Payment done, personal gallery awaits. Cherished memories, one click away.</p>
                    </div>
                    <i class="fa-solid fa-heart fa-2xl icons-gal icon-color"></i>
                </div>
            </div>
        </div>
   
    </div>
    <div class='section-inner-2'>

        <div class='row'>
            <div class='col-12'>
                <a href='#nextBook'>
                    <h3 class='h3-3 text-center next-book'>
                    <b>Get Started</b> <i class="fa-solid down-arrow fa-arrow-down"></i>
                    </h3>
                </a>
            </div>
        </div>

    </div>
    <div class='section-height sub-height'>
        <div class='gall-back  h-100'>
            <div class='row'>
                <div class='col-12'>
                    <div class='item-gal4' id='nextBook'>
                        <h2 class='h2-2 slide-up' id='slide-in'>
                            Soft Subversion <br>
                            Photography and Videography
                        </h2>
                        <p class='p-p slide-up' id='slide-in'>
                            Welcome to Soft Subversion, your go-to destination for 
                            exceptional photography and videography services in the 
                            heart of Nashville, TN. We understand the power of a single 
                            moment and the magic it holds. Our mission is simple: to 
                            capture those moments, transform them into cherished memories, 
                            and encapsulate the enchanting magic that lies within.
                        </p>

                        <button class="btn-cust btn-cust-color" onclick="window.location.href='{% url 'contact' %}'">Book</button>

                        <a href='#about'>
                            <h3 class='h3-3 next-gal'>
                            <b>About me</b> <i class="fa-solid down-arrow fa-arrow-down"></i>
                            </h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

