{% extends 'scheme.html' %}
{% load static %}
{% block content %}
  <div class='hero-section'id='boxObject'>
    {% for image in image_list %}
    <div class='image-objects display-off' style="background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{{image.image_link}}')"></div>
    {% endfor %}
    <div class='index-hero-box slide-up' id='slide-in'>
      <h1 class='h1-1' >Soft Subversion</h1>
      <p class='p-p'>Let's capture the moment and make it a memorey</p>
    </div>
  </div>
<script src="{% static '/js/float_in.js' %}"></script>
<script src="https://tympanus.net/codrops/adpacks/cda_sponsor.js"></script>
<script src="{% static '/js/heroGallery.js'%}"></script>
{% endblock %}
