{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel='stylesheet' href="{% static 'css/portal.css' %}">
    <script src='https://cdn.jsdelivr.net/npm/chart.js'></script>

    <title>    
        {% block title %}
          Silk Threads
        {% endblock %}
    </title>
</head>
<body class='body-main'>

			<!------------------------------------------------>
			<!-- dynamic content block -->
			<!------------------------------------------------>


				{% block content %}
			
				{% endblock %}


				<!------------------------------------------------>
				<!-- dynamic content block -->
				<!------------------------------------------------>  

      <script src="https://kit.fontawesome.com/00f4d71521.js" crossorigin="anonymous"></script>
      <script src={% static 'js/panel_modal.js' %}></script>
      <script src={% static 'js/panelNav.js' %}></script>
      <script src={% static 'js/float_in.js' %}></script>
      <script src={% static 'js/GetCookie.js' %}></script>
</body>
</html>