/*font import*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,400&family=Playfair+Display:wght@400;600;700&display=swap');

/*variable*/
:root{
  --bg-1: #C7C7C6;
  --bg-2: #8F8E8E;
  --bg-3: #3A3938;
  --bg-4: #1A1918;
  --bg-5: #131211;
  --bg-6: #0F0E0E;
  --bg-7: #070707;
  
  --mc-1: #DDC8D1;
  --mc-2: #BB92A4;
  --mc-3: #995B76;
  --mc-4: #772448;
  --mc-5: #591B36;
  --mc-6: #3B1224;
  --mc-7: #1E0912;
  
  --sc-1: #E9DACF;
  --sc-2: #D4B59E;
  --sc-3: #BE906E;
  --sc-4: #A96B3D;
  --sc-5: #7F502E;
  --sc-6: #55361E;
  --sc-7: #3F2817;


  --text-color:var(--mc-1);
  --text-color-secondary:var(--bg-3);
  --bg-color:var(--bg-4);
  --bg-color-secondary:var(--bg-3);
  --bg-color-opec:rgba(56, 56, 56, 0.534);  
  --font-family-header:'Cormorant Garamond', serif;
  --font-family-body: 'Playfair Display', serif;
  --h1: 68px;
  --h2: 32px;
  --h3: 24px;
  --p:16px;
  --font-weights-norm: 400;
  --font-weights-bold: 700;
  --arvo-light: 300;
  --arvo-norm: 400;
  --arvo-simi: 600;
  --arvo-bold: 700;
  --linear-gradient: linear-gradient(36deg,
  var(--mc-7) 0%,
  var(--mc-6) 32%, 
  var(--mc-5) 49%, 
  var(--mc-4) 73%, 
  var(--mc-3) 82%, 
  var(--mc-2) 93%);
}

/* --------------------------------
Topography
--------------------------------*/
html {
  scroll-behavior: auto;
}

.bg-set{
  background-color: var(--bg-color);
  z-index: 0;
}

.body-main {
  display: block;
  margin: none;
  padding: 0;
  font-family: var(--font-family-body);
  font-display: swap;
  background-color: var(--bg-color);
  height: 100%;

}

@font-face {
  font-family: "MyWebFont";
  src: url(myfont.woff2) format("woff2"),
    url(myfont.woff) format("woff");
  font-display: swap;
}

.section-height {

  position: relative;
  height: 100vh;
  max-height: 1000px;
}

.section-inner {
  position: relative;
  background-color: var(--bg-color);
  height: 30vh;
}

.section-inner-2 {
  position: relative;
  background-color: var(--bg-color);
  height: 15vh;
}

@media (max-width:774px) and (orientation: portrait) { 
  .section-height {
    height: auto;
    min-height: 600px;
    max-height: none;
  }
}

.hero-img-success {
  background-image:url(https://imagedelivery.net/4_y5kVkw2ENjgzV454LjcQ/7cdca59f-b127-44d0-256e-1b754839c300/heroObjectLeft);
  background-color: var(--bg-color);
  height: 90vh;
  background-position: 50% 90%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-box-success {
  position: relative;
  padding: 10px 60px 10px;
  color: var(--text-color);
  background-color: #3a39388e;
}

.h1-1 {
  font-size: var(--h1);
  font-family: var(--font-family-header);
  color: var(--text-color);
  font-weight: 300;
  padding: 30px 0;
}

.h2-2 {
  font-size: var(--h2)!important;
  letter-spacing: 1px;
  font-family: var(--font-family-header)!important;
  color:var(--sc-2);
  padding: 10px 0;
}

.h3-3 {
  font-size: var(--h3)!important;
  font-family: var(--font-family-header)!important;
  letter-spacing: 1px ;
  color:var(--text-color);
}

.p-p {
  font-size: var(--p);
  font-weight: var(--font-weights-norm);
  color: var(--text-color);
  letter-spacing: 1px ;
}

.p-2 {
  font-size:var(--p);
  font-weight: var(--font-weights-norm);
  color: var(--text-color-secondary);
}

@media (max-width:774px) and (orientation: portrait) { 
  .h1-1 {
    font-size: 44px!important;
    padding: 32px 0px;
  }
}


.ham{
  color:36px!important;
}

.icon-color{
  color:var(--mc-3);
  transition: color 0.5s ease-in-out;
}

.icon-color:hover {
  color:var(--mc-4)
}

/* --------------------------------
Hero section | Index - About
--------------------------------*/
.display-off {
  display: none;
}
.hero-img {
  overflow: hidden;
  position: relative;
}

.hero-img-book {
  background-image:url(https://imagedelivery.net/4_y5kVkw2ENjgzV454LjcQ/a5a78e27-2ad1-4e56-80cd-772623ddb500/heroObjectLeft);
  background-color: var(--bg-color);
  min-height: 100vh;
  background-position: 50% 90%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.index-hero-box {
  background-color: var(--bg-color-opec);
  position: relative;
  padding: 10px 30px 10px;
  width: 50%;
  left:50%;
  height: 100%;
  color: var(--text-color);
  backdrop-filter: blur(10px);
}

.hero-box {
  background-color: var(--bg-color-opec);
  position: relative;
  width: 50%;
  padding: 10px 30px 10px;
  height: 100%;
  color: var(--text-color);
  backdrop-filter: blur(10px);
}


.hero-section {
  height: 90vh;
  max-height: 1000px;
  overflow: hidden;
  position: relative;
}


.about {
  overflow: hidden;
  position: relative;

}

.about-box {
  background-image: var(--linear-gradient);
  padding: 10px 30px 10px;
  overflow: hidden;
  color: var(--text-color);
  text-align: center;
  backdrop-filter: blur(10px);
}

.about-box-2 {
  background-color:var(--bg-color-opec);
  padding: 10px 30px 10px;
}

.about-img {
  position: relative;
  margin: auto;
  top:20%;
}

.image-objects {
  position: absolute;
  height: 240px;
  width: 210px;
  transition: all 1.5s;
  border-radius: 12px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width:774px) and (orientation: portrait) { 
  .hero-box-success{
    padding: 10px 5px 10px;
  }
  .hero-box {
    width: 100%;
  }
  .index-hero-box {
    width: 100%;
    height: 55%;
    left:0;
    padding: 5px 5px ;
  }
  .about-img{
    top:0;
  }
}



/* --------------------------------
button
--------------------------------*/

.btn-cust {
  flex: 1 1 auto;
  margin: 10px;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.85s;
  font-size: var(--p);
  font-family: var(--font-family-header);
  letter-spacing: 1px;
  color: var(--text-color);
  font-weight: var(--font-weights-norm);
  background-size: 200% auto;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.2);
  border: 0;
  border-radius: 6px;
 }

.btn-cust-color {
  background-image: var(--linear-gradient);
}
.btn-cust-color:hover,
.btn-cust-color:after {
  background-position: right center;
}

.btn-cust-2 {
  background-color: #00000069;
  margin: 10px;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--p);
  color: var(--text-color);
  font-family: var(--font-family-header);
  letter-spacing: 2px;
  font-weight: var(--font-weights-norm);
  background-size: 200% auto;
  border:2px none var(--mc-4);
  border-radius: 6px;
 }

.btn-cust-2:hover,
.btn-cust-2:after {
  background-color: #000000be;
  border: 2px solid var(--mc-4);
}


a {
  color: rgba(245, 245, 245, 0);
}
a:hover,a::after {
  color: rgba(245, 245, 245, 0.836)
}

.down-arrow {
	animation: down-arrow-animation 3s ease-in-out infinite;
}

@keyframes down-arrow-animation {
  0% {
    /* transform: translateX(-100%) rotate(270deg); */
    transform: translateY(-25%);
  }

  50% {
    /* transform: translateX(100%) rotate(-90deg); */
    transform: translateY(50%);
  }

  100% {
    /* transform: translateX(-100%) rotate(270deg); */
    transform: translateY(-25%);
  }
}


