/*font import*/
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Cormorant+Garamond:wght@300;400;600;700&display=swap');

/*variable*/
:root{
  --text-color:rgb(255, 255, 255);
  --text-color-secondary:rgb(0, 0, 0);
  --bg-color:rgb(24, 24, 24);
  --bg-color-secondary:rgba(61, 61, 61);
  --bg-color-opec:rgba(56, 56, 56, 0.534);  
  --font-family-header:'Cormorant Garamond', serif;
  --font-family-body: 'Arvo', serif;
  --h1: 48px;
  --h2: 42px;
  --h3: 28px;
  --p:16px;
  --font-weights-norm: 400;
  --font-weights-bold: 700;
  --arvo-light: 300;
  --arvo-norm: 400;
  --arvo-simi: 600;
  --arvo-bold: 700;

}

/* --------------------------------
Topography
--------------------------------*/
html {
  scroll-behavior: smooth;
}

.body-about {
  overflow: hidden;
  position: relative;
}

.body-about::before {
  content: "";
  position: fixed;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: none;
  background-image: url(https://imagedelivery.net/4_y5kVkw2ENjgzV454LjcQ/5e4031fb-98ff-4279-a120-3c0e66779e00/heroObjectLeft);
  filter: blur(10px);
  z-index: -1;
  transition: transform 700ms ease-in;
}
.scroll-up .body-about::before {
  transform:translateY(60%); 
}
.body-main {
  display: block;
  margin: none;
  padding: 0;
  font-family: var(--font-family-body);
  font-display: swap;
  background-color: var(--bg-color);
  height: 100%;

}

@font-face {
  font-family: "MyWebFont";
  src: url(myfont.woff2) format("woff2"),
    url(myfont.woff) format("woff");
  font-display: swap;
}

.section-height {
  height: 100vh;
  max-height: 1000px;
}

@media (max-width:774px) and (orientation: portrait) { 
  .section-height {
    height: auto;
    min-height: 600px;
    max-height: none;
  }
}

.h1-1 {
  font-size: var(--h1);
  font-family: var(--font-family-header);
  color: var(--text-color);
  font-weight: 300;
  padding: var(--h1) var(--h1);
}

.h2-2 {
  font-size: var(--h2)!important;
  letter-spacing: 1px;
  font-family: var(--font-family-header)!important;
  color:var(--text-color);
  padding: 15px 0;
}

.h3-3 {
  font-size: var(--h3)!important;
  font-family: var(--font-family-header)!important;
  letter-spacing: 1px ;
  color:var(--text-color);
}

.p-p {
  font-size: var(--p);
  font-weight: var(--font-weights-norm);
  color: var(--text-color);
}

.p-2 {
  font-size:var(--p);
  font-weight: var(--font-weights-norm);
  color: var(--text-color-secondary);
}

@media (max-width:774px) and (orientation: portrait) { 
  .h1-1 {
    font-size: 36px!important;
  }
}


.ham{
  color:36px!important;
}

.icon-color{
  color:#fc3379;
  transition: color 0.5s ease-in-out;
}

.icon-color:hover {
  color:#7d4af3
}

/* --------------------------------
Hero section | Index - About
--------------------------------*/
.display-off {
  display: none;
}
.hero-img {
  overflow: hidden;
  position: relative;
}

.hero-img::after {
  background-image: linear-gradient(29deg, rgba(175,0,91,0.8379726890756303) 0%, rgba(19,0,36,0.6839110644257703) 12%, rgba(3,0,98,0.7231267507002801) 19%, rgba(26,0,129,0.7399334733893557) 27%, rgba(78,0,154,0.896796218487395) 43%, rgba(88,0,159,0.8631827731092436) 53%, rgba(58,0,159,0.8155637254901961) 66%, rgba(70,0,128,0.7875525210084033) 73%, rgba(178,5,113,1) 93%),
  url(https://imagedelivery.net/4_y5kVkw2ENjgzV454LjcQ/8227f466-63ba-4e42-c188-778e35a99800/heroObjectLeft);
  content: "";
  position: fixed;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: none;
  filter: blur(7px);
  z-index: -1;
}

.hero-img-book {
  background-image:url(https://imagedelivery.net/4_y5kVkw2ENjgzV454LjcQ/a5a78e27-2ad1-4e56-80cd-772623ddb500/heroObjectLeft);
  background-color: var(--bg-color);
  min-height: 100vh;
  background-position: 50% 90%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.index-hero-box {
  background-color: var(--bg-color-opec);
  position: relative;
  padding: 10px 30px 10px;
  width: 50%;
  left:50%;
  height: 100%;
  color: var(--text-color);
  backdrop-filter: blur(10px);
}

.hero-box {
  background-color: var(--bg-color-opec);
  position: relative;
  width: 50%;
  padding: 10px 30px 10px;
  height: 100%;
  color: var(--text-color);
  backdrop-filter: blur(10px);
}

.about-box {
  background-image: linear-gradient(to bottom right, #fc337979 0%, #7d4af35d 51%, #f4323259 100%);
  padding: 10px 30px 10px;
  overflow: hidden;
  color: var(--text-color);
  text-align: center;
  backdrop-filter: blur(10px);
}

.about-box-2 {
  background-color:var(--bg-color-opec);
  padding: 10px 30px 10px;
}

.hero-section{
  height: 80vh;
  overflow: hidden;
  position: relative;
}

.hero-img-success {
  background-image:url(https://imagedelivery.net/4_y5kVkw2ENjgzV454LjcQ/7cdca59f-b127-44d0-256e-1b754839c300/heroObjectLeft);
  background-color: var(--bg-color);
  height: 90vh;
  background-position: 50% 90%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-box-success {
  position: relative;
  padding: 10px 60px 10px;
  color: var(--text-color);
}

.image-objects {
  position: absolute;
  height: 240px;
  width: 210px;
  transition: all 1.5s;
  border-radius: 12px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width:774px) and (orientation: portrait) { 
  .hero-box-success{
    padding: 10px 5px 10px;
  }
  .hero-box {
    width: 100%;
  }
  .index-hero-box {
    width: 100%;
    height: 50%;
    left:0;
  }
}



/* --------------------------------
button
--------------------------------*/

.btn-cust {
  flex: 1 1 auto;
  margin: 10px;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.85s;
  font-size: var(--p);
  font-family: var(--font-family-header);
  letter-spacing: 1px;
  color: var(--text-color);
  font-weight: var(--font-weights-norm);
  background-size: 200% auto;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.2);
  border: 0;
  border-radius: 6px;
 }

.btn-cust-color {
  background-image: linear-gradient(to right, #fc3379 0%, #7d4af3 51%, #f43232 100%);
}
.btn-cust-color:hover,
.btn-cust-color:after {
  background-position: right center;
}

.btn-cust-2 {
  background-color: #00000069;
  margin: 10px;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--p);
  color: var(--text-color);
  font-family: var(--font-family-header);
  letter-spacing: 2px;
  font-weight: var(--font-weights-norm);
  background-size: 200% auto;
  border:2px none #7d4af3;
  border-radius: 6px;
 }

.btn-cust-2:hover,
.btn-cust-2:after {
  background-color: #000000be;
  border: 2px solid #7d4af3;
}

/* --------------------------------
Gallery 
--------------------------------*/

.card-attrs {
  background-color: var(--bg-color);
  position: relative;
  height: auto;
  border: 3px solid var(--bg-color-secondary);
  z-index: 1;
}

.card-shot{
  width: 100%;
  height: 80vh;
  max-height: 900px;
  overflow: hidden;
  position: relative;
}

.card-shot img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  object-position: center;
  transform: scale(1);
  transition:transform 1.2s ease-in-out !important;
}

.card-attrs p{
  padding-top: 18px;
}


.card-shot:hover img{

  transform: scale(1.08);
}

.hr-hr {
  color: var(--text-color);
}

.timeline{
  position: relative;
  animation: slideLeft 1s linear forwards;
  opacity: 0;
}
@keyframes slideLeft {
  0% {
    right: 100%; 
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}


.timeline::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
  left:0;
  top: 40vh;
  margin-top: -3px;
  z-index: -1;
}


.time-box {
  padding: 5px;
  width: 100%;
  position: relative;
  border: 3px solid var(--bg-color-secondary);
  border-radius: 8px;
}


.time-box::after{
  content: '';
  position: absolute;
  width: 2px;
  background-color: var(--text-color);
  z-index: -1;
}

.time-box-top {
  top:5vh;
  width: 175%;
}

.time-box-bottum {
  top: 55vh;
  width: 165%;
  left: -55%;
}

.time-box-top::after {
  height: 20vh;
  top: 15vh;
  margin-left: 65px;
}

.time-box-bottum::after {
  height: 16vh;
  top: -15vh;
  margin-left: 45px;
}

.time-text{
  padding: 4px 4px;
  background-color: var(--bg-color);
  z-index: 0;
  position: relative;
}

@media (max-width:774px) and (orientation: portrait) { 
  .time-box{
    margin-top: 25px;
  }
  .time-box-top{
    width: 100%;
    height: auto;
    top: 0;
    margin-left: 0;
  }
  .time-box-bottum{
    width: 100%;
    height: auto;
    top: 0;
    margin-left: 50%;
  }
  .timeline::after{
    width: 0;
    height:0;
    top: 0;
  }
  .time-box::after{
    width: 100%;
  }
  .time-box-bottum::after, .time-box-top::after {
    height: 0;
    top: 0;
  }
  .time-box-top::after{
    margin-left:-15px;
  }
  .time-box-bottum::after{
    margin-left:0;
  }
}

.icons-gal {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;
}

.gall-back {
  background-image: url(https://imagedelivery.net/4_y5kVkw2ENjgzV454LjcQ/ce6217c7-d3d2-44aa-5918-97aa6fb8bc00/display);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  height: 100vh;
}
.sub-height{
  margin: auto;
}
.item-gal4{
  top:20%;
  width: 300px;
  position: relative;
  left: -50px;
  margin: auto ;
}
@media (max-width:774px) and (orientation: portrait) {
  .gall-back {
    background-position: center;
    background-size: auto 100vh ;
    overflow: hidden;
  }
  .sub-height{
    height: 100vh;
  }
  .item-gal4{
    left: 0;
    margin: auto ;
  }
}

a {
  color: rgba(245, 245, 245, 0);
}
a:hover,a::after {
  color: rgba(245, 245, 245, 0.836)
}

.next-book {
  position: relative;
  color: #fc3379;
  text-decoration: none;
  bottom: 55%;
  left: 50%;
}

/*-------------------------------/

sub gallery view 

/-------------------------------*/
.gal-hero {
  position: relative;
  overflow: hidden;
}

.gal-hero-image{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 80vh;
  transform: scale(1);
  transition:transform 1.2s ease-in-out !important;
}

.gal-hero-image:hover{

  transform: scale(1.08);
}

.gal-hero-box {
  top: 35%;
  left: 65%;
  position: absolute;
  padding: 5px 5px;
  background-color: #181324b0;
  width: 30%;
}

.gal-hero-box::after {
  content: '';
  top: 25%;
  right: 25%;
  position: absolute;
  background-color: #f156d8;
  width: 78%;
  height: 1px;
  z-index: 0;
}
.gal-hero-text{
  z-index: 3;
}
.gal-hero-text::after {
  content: '';
  top: 15%;
  right:28%;
  position: absolute;
  background-color: #f1a9e5;
  width: 1px;
  height: 90%;
  z-index: -1;
}


@media (max-width:774px) and (orientation: portrait) {
  .gal-hero-box {
    top: 55%;
    left: 0;
    width: 100%;
    margin: auto;
  }
}

.gal-roller {
  background-color: #71717250;
  position: relative;

}

.gal-inner {
  width: 65%;
  position: relative;
  object-position: center;
  margin: auto;
}

.gal-inner button{
  width: 90%;
}



.sub-gal-img{
  max-height: 50vh;
  cursor: pointer;
  width: auto;
  object-fit: cover;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  height: 100vh;
  overflow: auto;
  background-color: black;
}


.modal-content {
  position: relative;
  display: block;
  background-color: var(--bg-color);
  margin: auto;
  padding: 0;
  height: 90vh;
}
.modal-content img{
  position: relative;
  max-height: 85vh;
}

.close {
  position: absolute;
  top: 5px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.gal-slide{
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;

}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

