/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #397524 #525454;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #525454;
}

*::-webkit-scrollbar-track:hover {
  background-color: #737778;
}

*::-webkit-scrollbar-track:active {
  background-color: #8B9192;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #397524;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #62A34B;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #62A34B;
}

.max-scroll {
  max-height: 60vh;
}