/* The Modal (background) */
.details-modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 4; /* Sit on top */
	left: 0px;
	top: 0;
	margin: 0;
	padding: 40px;
	width: 100%; /* Full width */
	height: 100vh; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-image: var(--bg-color-secondary); /* Fallback color */
	background-image: var(--bg-color-secondary); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .details-content {
	background-color: var(--bg-color);
	margin: 0;
	padding: 40px;
	border: 1px solid var(--line-border-fill);
	width: 100%;
	height: 100%;
	box-shadow: var(--bg-shadow);
  }
  @media screen and (max-width: 768px){
	.details-content {
		padding: 5px;
	}
	.details-modal {
		padding: 5px;
	}
  }
  /* The Close Button */
  .closeDetails {
	color: var(--text-color);
	float: right;
	font-size: 28px;
	font-weight: bold;
	position: fixed;
	top: 20px;
	left:96%;
  }
  
  .closeDetails:hover,
  .closeDetails:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }