{% extends 'scheme.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row hero-img-success">
    <div class="col-6 hero-box-success">
        <h2 class="h2-2 mb-4">Message sent!</h2>
        <p class="p-p">Hello {{ contact.name }},</p>
        <p class="p-p">Thank you for reaching out! Your message regarding "{{ contact.subject }}" has been received, and a notification has been sent to the email address you provided: {{ contact.email }}.</p>
        <p class="p-p">Best regards<br>Carly</p>
      <a href="{% url 'index' %}">
      <button class="btn-cust btn-cust-color">Home</button></a>
    </div>
  </div>
</div>
{% endblock %}