{% extends 'panel.html' %}
{% block title %}O | Clients{% endblock %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}

<div class='row'>


	<div class='col-12 mt-4 mb-4'>
		<div class='section-min'>
		<h1 class='h1-1'>Client Options</h1>
		<hr>
			<div class='row'>

				<div class='col'>
					<a href="{% url 'invite' %}">
						<div class='section-pad addLoader text-center' >
						<i class="fa-solid fa-user-plus fa-2xl"></i>
						<p class='mt-2'>Client Intake</p>
						</div>
					</a>
				</div>

				
				<div class='col'>
					<div class='section-pad text-center' onclick="window.location.href='#'">
						<i class="fa-regular fa-address-book fa-2xl"></i>
						<p class='mt-2'>Message Client</p>
					</div>
				</div>

				<div class='col'>
					<div class='section-pad text-center' onclick="window.location.href='#'">
						<i class="fa-solid fa-user-large-slash fa-2xl"></i>
						<p class='mt-2'>Delete Client</p>
					</div>
				</div>

				<div class='col'>
					<div class='section-pad text-center' onclick="window.location.href='#'">
						<i class="fa-solid fa-user-gear fa-2xl"></i>
						<p class='mt-2'>Client settings</p>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<div class='col-12 mt-4'>
		<div class='sections-med'>

			<h1 class='h1-1 mb-2'>Client Search and Filter</h1>
			<form method="GET" action="." class='form-group'>
				<div class='row'>
					<div class='col-12 mb-2'>
						<input class="form-control" list="project-list" type="search" name="project" placeholder="Project">
						<datalist id="project-list">
						{% for project in project_list %}
							<option value="{{ project.name }}"></option>
						{% endfor %}
						</datalist>
					</div>
					<div class='col-12 mb-2'>
						<input class="form-control" list="client-list" type="search" name="client" placeholder="Client">
						<datalist id="client-list">
						{% for client in client_info %}
							<option value="{{ client.client_details.client }}"></option>
						{% endfor %}
						</datalist>
					</div>
				</div>
				<div class='row'>
					<div class="col-6 col-md-2 mt-4">
						<select class="form-select" type="select" name="order">
							<option value="Newest">Newest</option>
							<option value="Oldest">Oldest</option>
						</select>
					</div>                
					<div class="col-6">
						<button type="submit" class="btn-cust btn-cust-color mt-4">Search</button>
					</div>
				</div>
			</form>

			<div class='row'>
				<div class='col-12 mt-4'>
					<div class='row'>
						<div class='col'>
							<p class="p-p">
								Select All 
								
								<input class="form-check-input text-center" type="checkbox" value="" id="selectAll">
							</p>
						</div>

						<div class='col'>
							<p class="p-p">
								Client ID: 
							</p>
						</div>
						<div class='col'>
							<p class="p-p">
								Client Name: 
							</p>
						</div>
						<div class='col'>
							<p class="p-p">
								Projet Count: 
							</p>
						</div>
						<div class='col'>
							<p class="p-p">
								Image Count: 
							</p>
						</div>

					</div>
				</div>
					<hr>
				<div class="overflow-auto sections-2 scroll-menu">
				{% for clients in client_info %}
					<div class='col-12 mt-4'>
						<div class='inv-card'>
							<div class='inv-card-content'>
								<div class='row mt-1'  style='width:90%'>
									<div class='col-6 col-md-3'>
										<p class="p-p">
											{{ clients.client_details.client }} 
											<br>
											Client ID: {{ clients.client_details.client_id }}
										</p>
									</div>
									<div class='col-6 col-md-3'>
										
										<p class="p-p"> Number of propjects: {{ clients.project_count }}</p>
									</div>
									<div class='col-6 col-md-3'>
										<p class="p-p">Project Images:  {{ clients.image_count }}</p>
									</div>
									<div class='col-12 col-md-3'>
										<button href="#" class="btn-cust btn-cust-color" onclick="window.location.href='#'">Details</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>

</div>

<script src={% static 'js/graphs.js' %}></script>


  

{% endif %}


{% endblock %}