{% extends 'panel.html' %}
{% block title %}Request Details{% endblock %}
{% block content %}
<div class='sections'>
	<div class='row'>
		<div class='col-6 mt-4 mb-4'>
			<div class='row mt-4 mb-4'>
				<div class='mt-4 text-center mt-4 mb-4'>
					<h1 class='nums'>
						{{projectrequest|title}}
					</h1>
					<p class='p-p'>
						Project Request
					</p>
				</div>
				<h1 class='h1-1'>
					Project Scope:
				</h1>
				<hr>
				<div class='col-12'>
					<div class='sections-2'>
						<div class='row'>
							<div class='col-3'>
								<p class='p-p'>Project-Type:</p>
								<p class='p-p'>Desired Date:</p>
								<p class='p-p'>Location type:</p>
							</div>
							<div class='col-7'>
								<p class='p-p'>{{projectrequest.scope}}</p> 
								<p class='p-p'>{{projectrequest.date}}</p> 
								<p class='p-p'>{{projectrequest.location}}</p> 
							</div>
						</div>
					</div>
					<div class='col-12 mt-4'>
						<div class='text-center'>
							<button class="btn-cust" onclick="window.location.href='{% url 'approval' projectrequest.id %}'">
								Approve Terms <i class="fa-solid fa-circle-check"></i>
							</button>

							<button class="btn-cust">
								Decline Offer <i class="fa-solid fa-circle-xmark"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class='col-6 mt-4 mb-4'>
			<div class='sections-2 h-100'>
				<h1 class='h1-1'>
					Requested Project Details:
				</h1>
				<hr>
				<div class="overflow-auto">
					<p class='p-p'>{{projectrequest.details}}</p>
				</div>
			</div>
		</div>

	</div>
</div>
<div class='row'>
	<div class='col-6 mt-4 mb-4'>
		<div class='sections-small'>
			<button class="btn-cust" data-bs-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">
				Send a Message <i class="fa-solid fa-message"></i>
			</button>
			<div class="sections-2 mt-4 mb-4 form-group">
				<div class="collapse" id="collapse1" style='width:100%'>
					<form method=POST>
						{% csrf_token %}
						{{comment_form.as_p}}
						<button class="btn-cust">
							Submit
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class='col-6 mt-4 mb-4'>
		<div class='sections-small'>
			<button class="btn-cust" data-bs-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse1">
				Project Request Thread <i class="fa-solid fa-comments"></i>
			</button>
			<div class="sections-2 mt-4 mb-4 form-group">
				<div class="collapse" id="collapse2" style='width:100%'>

					{% for comment in comments %}
					{% if comment.user_id == user %}
					<div class='col-12 mt-4 mb-4'>
						<div class='row'>
							<div class='col-12 comment-sub-box'> 
								<div class="user-content" >
									<h1 class='user-box h1-1'>
										{{ comment.user_id|title }}
									</h1>
									<p class='p-p user-box'>
										{{ comment.date_posted|title }}
									</p>
									<hr>
									<p class='p-p'>
										{{ comment.comment}}
									</p>
									<div class='comment-line-3'></div>
								</div>
							</div>
						</div>
					</div>
					{% else %}
					<div class='col-12 mt-4 mb-4'>
						<div class='row'>
							<div class='col-12 comment-sub-box'> 
								<div class="comment-content" >
									<h1 class='h1-1'>
										{{ comment.user_id|title }}
									</h1>
									<p class='p-p'>
										{{ comment.date_posted|title }}
									</p>
									<hr>
									<p class='p-p'>
										{{ comment.comment}}
									</p>
									<div class='comment-line-2'></div>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>





</div>



{% endblock %}